user_uuid="db8fc491-7712-4149-b2c2-19a84f7c3cc1"
bucket_name="07hvxx3vf9z70rg33d6quzgm7ls43ufy"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2