terratowns_endpoint="https://terratowns.cloud/api"
teacherseat_user_uuid="645bb884-5c68-4350-a4fb-034270425a2d"
siteone = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/siteone"
  content_version = 1
}
sitetwo = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/sitetwo"
  content_version = 1
}
